<p></p>

<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <th>Name</th>
    <td><%= @post.name %></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>Content</th>
    <td><%= @post.content %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary btn-sm" %> |
<%= link_to 'Back', posts_path, :class => "btn btn-primary btn-sm" %>
